body {
    background-color: blueviolet;
}

#secaovideo {
    align-items: center;
    align-content: center;
    text-align: center;

    display: grid;
    grid-auto-flow: column;
    columns: auto;
   
    padding: 50px;
}

#titulovideo {
    padding: 50px;

}

#textovideo {
    display: flex;
    align-content: center;
}

p,
h1 {
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
}

#cards {
    background-color: black;
    padding: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

.card {
    margin-left: 50px;
}

#Bruna {
    display: none;
}

.seta:hover {
    transform: translateX(7px);
}

.seta{
    margin-top: 50%;
    cursor: pointer ;
}

#opa
{
    background-color: black;
    align-items: center;
    align-content: center;
    text-align: center;
}


